.h-logo{
  width: 3.5rem;
}

.img-mid-height{
  min-height: 155px;
  max-height: 155px;
}

.img-size-166{
  min-height: 166px;
  max-height: 166px;
  min-width: 166px;
  max-width: 166px;
}

.img-comment{
  width: 50px;
  height: 50px;
  border-radius: 50%;  
}

.img-media-small{
  width: 25px;
}

.img-media-mustard{
  filter: invert(79%) sepia(83%) saturate(1011%)
   hue-rotate(321deg) brightness(83%) contrast(90%);
}

.img-media-black-hover:hover{
  filter: none;
}

