*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style-type: none;
  overflow-x: hidden;
}

body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.body > *{
  max-width: 100%;
}

div{
  width: fit-content;
}

button{
  border: none;
}