@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

.main-title-odin{
  font-family: "Passero One", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
}

.weight-mid{
  font-weight: 600;
}

.weight-light{
  font-weight: 400;
}

.size-mid{
  font-size: 1.1rem;
}

.size-mid-large{
  font-size: 1.6rem;
}

.size-large{
  font-size: 2.3rem;
}

.mustard{
  color: darkgoldenrod;
}

.grey{
  color: grey;
}

.white{
  color:white;
}

.underline{
  text-decoration: underline;
}

.black-hover:hover{
  color:black;
}

.no-deco-hover:hover{
  text-decoration: none;
}

.centered-text{
  text-align: center;
}

.height-2{
  line-height: 1.88;
}
.spacing-2{
  letter-spacing: 0.2px;
}

.text-left{
  text-align: left;
}

@media screen and (max-width: 940px){
  .main-title-odin{
    font-size: 1.15rem;
  }
}


@media screen and (max-width: 767px){
  .hide{
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 590px){
  .hide-2{
    visibility: hidden;
    display: none;
  }
}